<html lang="es">  
<head>
    <meta charset="UTF-8">
    <title>Brido</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="menupos">
    <p class="Menu">Menu de gestion de<br>Brido</p>
    <img class="logo" src="/static/images/Brido.png" height="390vh">
</div>
<div class="botones">
<a href="{{url_for('clientes')}}">
<button class="boton">clientes</button>
</a>
<br>
<br>
<button class="boton">productos</button>
</div>


</body>






</html>